@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color: rgb(0, 162, 255);" class="display-4">MI MASCOTA PREFERIDA</h1>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <article>
            <h2 class="bob_title">BOBSITO</h2>
            <p style="text-align: center;">Bob es mi perro de tamaño mediano, muy amigable y siempre está lleno de energía. Le encanta jugar con la familia y siempre está dispuesto a dar cariño en el hogar.Ya son 7 años junto a el , siempre ha sido fiel y se mantiene con un buen estado de salud</p>
        </article>
    </div>
    <div class="col-md-4 d-flex justify-content-center">
        <img src="~/images/bob.jpg" alt="Foto de Bob" class="img-fluid rounded" style="width: 100%; max-width: 300px; height: auto;">
    </div>
</div>
